<table class="table table-striped table-dark">
  <tr>
    <th scope="col">Producto</th>
    <th scope="col">Precio</th>
    <th scope="col"> URL</th>
  </tr>
  <% data.forEach(n=> { %>
    <tr>
      <td scope="row">
        <%= n.producto %>
      </td>
      <td scope="row">
        <%= n.precio %>
      </td>
      <td scope="row">
        <img style="width: 100px" src=<%= n.url %>></img>
      </td>
    </tr>
    <% }) %>
</table>
            
        
  