<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vista_class_ejs</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  
  <%- include ('./adicionalesejs/condicionales.ejs') %>
      

</body>

</html>